<aside id="default-sidebar" class="w-48 min-h-screen h-screen transition-transform -translate-x-full sm:translate-x-0 shadow-current shadow shadow-indigo-950" aria-label="Sidebar">
  <div class="px-3 min-h-screen h-screen py-4 bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <div [ngClass]="currentRout!='/agent/properties'?'flex items-center cursor-pointer p-2 text-indigo-800 rounded-lg  hover:bg-indigo-900 hover:text-gray-50':'flex items-center cursor-pointer p-2 text-gray-50 rounded-lg bg-indigo-900'">
          <fa-icon [icon]="home"></fa-icon>
          <span class="ml-3">Properties</span>
        </div>
      </li>
      <li>
        <div [ngClass]="currentRout!='/agent/owners'?'flex items-center cursor-pointer p-2 text-indigo-800 rounded-lg  hover:bg-indigo-900 hover:text-gray-50':'flex items-center cursor-pointer p-2 text-gray-50 rounded-lg bg-indigo-900'">
          <fa-icon [icon]="user"></fa-icon>
          <span class="ml-3">Owners</span>
        </div>
      </li>
      <li>
        <div [ngClass]="currentRout!='/agent/surfaces'?'flex items-center cursor-pointer p-2 text-indigo-800 rounded-lg  hover:bg-indigo-900 hover:text-gray-50':'flex items-center cursor-pointer p-2 text-gray-50 rounded-lg bg-indigo-900'">
          <fa-icon [icon]="square"></fa-icon>
          <span class="ml-3">Surfaces</span>
        </div>
      </li>
      <li>
        <div [ngClass]="currentRout!='/agent/locations'?'flex items-center cursor-pointer p-2 text-indigo-800 rounded-lg  hover:bg-indigo-900 hover:text-gray-50':'flex items-center cursor-pointer p-2 text-gray-50 rounded-lg bg-indigo-900'">
          <fa-icon [icon]="location"></fa-icon>
          <span class="ml-3">Locations</span>
        </div>
      </li>
      <li>
        <div [ngClass]="currentRout!='/agent/energies'?'flex items-center cursor-pointer p-2 text-indigo-800 rounded-lg  hover:bg-indigo-900 hover:text-gray-50':'flex items-center cursor-pointer p-2 text-gray-50 rounded-lg bg-indigo-900'">
          <fa-icon [icon]="energy"></fa-icon>
          <span class="ml-3">Energies</span>
        </div>
      </li>
    </ul>
  </div>
</aside>
